{% extends "base.html" %}

{% block content %}
    <div>
        <form action="{{ url_for('reset_request') }}" method="POST" novalidate>
            <div class="form-group">
                <label for="inputEmail">Your email:</label> <br>
                <input type="email" name="email_reset_password" class="form-control w-25" placeholder="Email">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Request</button>
            <div class="form-group">
                <a href="{{ url_for('login') }}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}