{% extends 'layout.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div>
    <div>
        <h1>Tampilkan data</h1>
        <a href="{{url_for('tambah')}}" class="btn btn-primary">Tambah Data</a>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Nama</td>
                    <td>Setting</td>
                </tr>
            </thead>
            <tbody>
                {% for row in computer %}
                    <tr>
                        <td> {{row.0}} </td>
                        <td> {{row.1}} </td>
                        <td>
                            <a href="/update/{{row.0}}" class="btn btn-primary btn-sm">Update</a>
                            <a href="/delete/{{row.0}} " class="btn btn-danger btn-sm" onclick="return confirm('are you sure want to delete?')">delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center;">No entries here</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}