{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="h5 text-center mb-3"><b>Add New Data</b></h5>
                    <form action="{{ url_for('add') }}" method="post">
                        <div class="form-group">
                            <label for="inputTitle">Title:</label> <br>
                            <input id="inputTitle" class="form-control" type="text" name="title" placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <label for="inputDesc">Description: </label> <br>
                            <textarea id="inputDesc" class="form-control" name="description" cols="100"
                                      placeholder="Add a Description" required></textarea>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-secondary" type="submit">
                                Add
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



