{% extends 'base.html' %}
    {% block title %}
        {{ title }}
    {% endblock %}

    {% block content %}
        <h3 class="text-center">Post Something</h3>
        <form action="{{ url_for('add_post') }}" method="POST">
            <div class="form-group m-5 mt-0">
              <label for="exampleFormControlInput1">The name of Post:</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="form-group m-5 mt-0">
              <label for="exampleFormControlTextarea1">Description:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <p class="text-center">
                <input type="submit" class="btn btn-primary">
            </p>
          </form>
    {% endblock %}