{% extends 'base.html' %}
    {% block title %}
        {{ title }}
    {% endblock %}

    {% block content %}
        <h3 class="text-center">Post Something</h3>
        <form class="col-md-4 mx-auto" action="{{ url_for('add_post') }}" method="POST">
            <div class="form-group mt-1">
              <label for="exampleFormControlInput1">The name of Post:</label>
              <input name="name" type="text" class="form-control" id="exampleFormControlInput1" required>
            </div>
            <div class="form-group mt-1">
              <label for="exampleFormControlTextarea1">Description:</label>
              <textarea name="desc" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <p class="text-center mt-1">
                <input type="submit" class="btn btn-secondary">
            </p>
          </form>
    {% endblock %}