{% extends 'base.html' %}

{% block content%}
    <div>
        <h3>Register Form</h3>
        <form action="{{ url_for('register') }}" method="POST">
            <div>
                <label for="inputName">Name:</label><br>
                <input type="text" name="name" placeholder="Name" autofocus required>
            </div>
            <div>
                <label for="inputEmail">Email:</label><br>
                <input id="inputEmail" type="email" name="email" placeholder="Email" aria-describedby="emailHep" required><br>
                <small id="emailHelp" class="emailHelp">We'll never share your Email with anyone else.</small>
            </div>
            <div>
                <label for="inputPassword">Password:</label><br>
                <input id="inputPassword" type="password" name="password" class="form-control w-25" placeholder="Password" required>
            </div>
            <div>
                <label for="inputPassword">Confirm Password:</label><br>
                <input id="inputPassword" type="password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div>
                <label for="userType">Register as:</label>
                <input name="user_type" type="text" list="types">
                <datalist id="types">
                    <option>User</option>
                    <option>Admin</option>
                    <option>Editor</option>
                </datalist>
            </div>
            <button type="submit">Register</button>
            <div>
                <small class="form-text">Sudah punya Akun? <a href="{{ url_for('login') }}">Login</a> Disini</small>
            </div>
        </form>
    </div>
{% endblock %}